<div class="row">
	<div class="col-xs-12">
		<form class="form-inline">
		  <div class="form-group">
		    <input type="text" class="form-control" id="searchPhone" placeholder="Search">
		  </div>
		  <div class="form-group">
		  	<select class="form-control">
			  <option>-sort by-</option>
			  <option>Alphabetical [a-z]</option>
			  <option>Alphabetical [z-a]</option>
			  <option>Price [low-high]</option>
			  <option>Price [high-low]</option>
			</select>
		  </div>
		</form>
		<hr>
	</div>

	<div class="col-xs-12">
		<div class="row">
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="./public/images/Galveston.jpg" alt="sknfsknfs" height="200" width="250">
		      <div class="caption">
		        <h4 class="text-center"><b>MY PHONE</b></h4>
		        <hr>
		        <h5 class="text-center"><b>Price : $699.99</b></h5>
		        <button type="button" class="btn btn-primary btn-block">Select</button>
		      </div>
		    </div>
		  </div>

		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="./public/images/Galveston.jpg" alt="sknfsknfs" height="200" width="250">
		      <div class="caption">
		        <h4 class="text-center"><b>MY PHONE</b></h4>
		        <hr>
		        <h5 class="text-center"><b>Price : $699.99</b></h5>
		        <button type="button" class="btn btn-primary btn-block">Select</button>
		      </div>
		    </div>
		  </div>

		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="./public/images/Galveston.jpg" alt="sknfsknfs" height="200" width="250">
		      <div class="caption">
		      	<h4 class="text-center"><b>MY PHONE</b></h4>
		        <hr>
				<h5 class="text-center"><b>Price : $699.99</b></h5>
				<button type="button" class="btn btn-primary btn-block">Select</button>
		      </div>
		    </div>
		  </div>

		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="./public/images/Galveston.jpg" alt="sknfsknfs" height="200" width="250">
		      <div class="caption">
		        <h4 class="text-center"><b>MY PHONE</b></h4>
		        <hr>
		        <h5 class="text-center"><b>Price : $699.99</b></h5>
		        <button type="button" class="btn btn-primary btn-block">Select</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>